.sidenav {
    margin: 5px;
    border: solid 2px;
    border-radius: 20px;
    min-width: 25%;
    height: 500px;
    position: sticky;
    top: 20px;

}

@media screen and (max-width: 642px) {
    .sidenav {
        display: none;
    }
  }